.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.inputText{
  width: 400px;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(141, 141, 141);
  transition: all 0.3s ease-in;
}
.inputText:focus{
  border: 1px solid rgb(111, 191, 197);
  outline: none;
}
.buttonQR{
  width: 300px;
  margin: 10px 0;
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: #137c7c;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.buttonQR:hover{
  background-color: rgb(30, 165, 165);
}

.qrCode{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  width: 300px;
  height: 300px;
  
}
.qrCode > img{
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
